<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="MicroscopeImaging.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
    <userSettings>
        <MicroscopeImaging.Properties.Settings>
            <setting name="Exposure" serializeAs="String">
                <value>6000</value>
            </setting>
            <setting name="Gain" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="IntensityThreshold" serializeAs="String">
                <value>128</value>
            </setting>
            <setting name="AreaThreshold" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="ZStackStep" serializeAs="String">
                <value>0.07</value>
            </setting>
            <setting name="ScanAreaUpperLeftX" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="ScanAreaUpperLeftY" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="ScanAreaLowerRightX" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="ScanAreaLowerRightY" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="ScanAreaCeilingZ" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="ScanAreaFloorZ" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Stem" serializeAs="String">
                <value>foram</value>
            </setting>
            <setting name="Folder" serializeAs="String">
                <value />
            </setting>
            <setting name="MaxParticleWidth" serializeAs="String">
                <value>0.5</value>
            </setting>
            <setting name="Magnification" serializeAs="String">
                <value>16</value>
            </setting>
            <setting name="MagnificationFactor" serializeAs="String">
                <value>8.2</value>
            </setting>
        </MicroscopeImaging.Properties.Settings>
    </userSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="CommonServiceLocator" publicKeyToken="489b6accfaf20ef0" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.0.5.0" newVersion="2.0.5.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
